.page {
  margin: 0 auto;
  width: 750px;
  height: 1084px;
}

header {
  margin: 140px auto 0;
  width: 750px;
}

header h1 {
  font-family: "Staatliches";
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

header p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  width: 417px;
  height: 46px;
}

body::before {
  content: "";
  background: #535971;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 436px;
  top: 0;
  left: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #EFEFEF;
}

.page h1 {
  color: #535971;
  font-family: "Staatliches";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0px;
}

form {
  margin-top: 44px;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  max-width: 750px;
  height: 1084px;
  padding: 64px 64px;
}

fieldset {
  border: none;
  padding: 0;
}

hr {
  margin-top: 16px;
  border: 1px #e6e6f0 solid;
  margin-bottom: 36px;
}

.formgroup {
  width: 100%;
  padding: 20px 11px;
}

.formgroup label {
  color: #4e4958;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -11px;
}

.formgroup input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--back-lines-in-white, #e6e6f0);
  background: var(--shapes-02, #fafafc);
}

.mt8 {
  margin-top: 8px;
}

h2 {
  color: #535971;
  font-family: "Staatliches";
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.mb8 {
  margin-bottom: 8px;
}

.w300 {
  width: 300px !important;
}

span {
  color: #c1bccc;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

footer {
  height: 160px;
  background-color: #535971;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -64px;
}

footer button{ 
  width: 608px;
  height: 55px;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;  

  border-radius: 20px;
  background: #FF5374;  

  color: white;
  font-family: 'Staatliches';
  font-size: 20px;
  border: none;
}